
<h1>
	Sumar Numeros POST
</h1>

<form method="post">
	<label>Numero 1:</label>
	<input type="number" name="numero1" class="form-control" />
	<label>Numero 2:</label>
	<input type="number" name="numero2" class="form-control" />

	<button class="btn btn-info">Sumar Numeros</button>
</form>
<h1 style="color:lightcoral">@ViewData["MENSAJE"]</h1>